if SHIELD_DACTYL_MAN_LEFT

config ZMK_KEYBOARD_NAME
    default "Dactyl"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_DACTYL_MAN_RIGHT

    config ZMK_KEYBOARD_NAME
        default "Dactyl Right"

endif

if SHIELD_DACTYL_MAN_LEFT || SHIELD_DACTYL_MAN_RIGHT

config ZMK_SPLIT
    default y

endif
